$width-xs: 480px;
$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;

$clr-primary-dark:      #363636;
$clr-primary-orange:    #F48220;
$clr-primary-grey:      #9e9e95;
$clr-primary-light:     #ebebeb;
$clr-error:             #a94442;

$fbHeaderFont:         "FuturaCondensedMedium";
$fbBodyFont:           "Helvetica";

@import "overrides";
@import "mixins";
@import "fonts";

body {
    background-color: $clr-primary-dark;
    font-family: $fbBodyFont;
    font-weight: 100;
}

body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    z-index: 100;
}

.fb-btn {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    font-weight: 700;
    color: $clr-primary-orange;
    font-size: 1.6rem;
    font-family: $fbBodyFont;

    &:hover {
        color: $clr-primary-orange;
    }
}

.text-clr-grey {
    color: $clr-primary-grey !important;
}

strong {
    color: $clr-primary-orange;
}

.text-strong {
    color: #000000;
    font-weight: 100;
}

.underlined-text {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-family: $fbHeaderFont;
    font-weight: 700;
}

h2 {
    font-size: 4.6rem;
    padding-bottom: 40px;
    letter-spacing: 3px;
}

h3, h4, h5 {
    font-weight: 100;
    font-family: $fbBodyFont;
}

.page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

p {
    padding: 0 0 12px 0;
    margin: 0;
    line-height: 130%;
    font-size: 1.6rem;
}

a {
    color: $clr-primary-orange;
    text-decoration: none;

    &:hover {
        color: $clr-primary-orange;
        text-decoration: underline;
    }
}

@media (max-width: $width-lg){
    .container {
        width: 100%;
    }
}

.header {
    background-color: $clr-primary-dark;
    color: $clr-primary-grey;
    @include clearfix();

    .container {
        position: relative;
    }
}

h1 {
    background: url("../images/logo-firm-beliefs.png") 0 0 no-repeat;
    text-indent: -9000px;
    width: 268px;
    height: 36px;
    background-size: cover;

    a {
        display: block;
    }
}

.nav-box {
    position: relative;
    height: 82px;
}

.contact-nav {
    @extend %cleanUL;
    margin-left: 50px;
    position: absolute;
    bottom: 0;
    left: 0;

    li {
        padding-top: 5px;
    }

    a {
        color: $clr-primary-grey;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 100;
        line-height: 90%;
        @include transitions(0.25s);

        &:hover {
            color: $clr-primary-orange;
        }

        &.tel {
            background: url("../images/icon-plus.png") left center no-repeat;
            padding-left: 20px;
        }

        &.email {
            background: url("../images/icon-bars.png") left center no-repeat;
            padding-left: 20px;
        }
    }
}

.main-nav-trigger {
    position: absolute;
    bottom: 3px;
    right: 15px;

    a {
        background: url("../images/icon-horizontal-nav-bars.png") 0 0 no-repeat;
        width: 42px;
        height: 39px;
        display: block;
        text-decoration: none;
        @include transitions(0.5s);
        outline: none;

        &:hover {
            background: url("../images/icon-horizontal-nav-bars.png") -42px 0 no-repeat;
        }
    }
}

.main-nav-container {
    position: absolute;
    top: 0;
    width: 310px;
    height: 600px;
    right: -325px;
    z-index: 10;
    background-color: rgb(54, 54, 54);
    background-color: rgba(54, 54, 54, 0.80);
//    background-color: red;

    @media (max-width: $width-lg){
        right: -310px;
    }

    &.animated {
        @include transitions(0.5s);
    }

    &.open {
        right: -15px;

        @media (max-width: $width-lg){
            right: 0;
        }
    }

    .main-nav {
        @extend %cleanUL;
    }
}

.h1-box {
    padding-top: 46px;
}

.quick-intro {
    padding-top: 90px;
    padding-bottom: 20px;
    float: left;
    width: 100%;

    h2 {
        text-transform: uppercase;
        color: $clr-primary-grey;
        padding-bottom: 77px;
    }

    strong {
        text-transform: uppercase;
    }

    .intro {
        margin-left: 35px;
        font-size: 1.2em;

        @extend %cleanUL;
    }

    li {
        padding-bottom: 7px;
        line-height: 130%;
    }
}

.thick-border-right {
    border-right: 8px solid $clr-primary-grey;
}

.hero {
    position: relative;

    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        @include transitions(0.75s);
        z-index: 1;

        &.active {
            opacity: 1;
            z-index: 2;
        }
    }

    img {
        width: 100%;
    }

    .hero-angled-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 93px;
        background: url("../images/hero-angle.png") top center no-repeat;
        z-index: 3;
    }
}

.top-level-nav {
    padding: 0 0 83px 0;
    background: url("../images/bg-top-level-nav.png") bottom center no-repeat;
    text-align: center;

    .more-link {
        display: block;
    }

    ul {
        @extend %cleanUL;
        background-color: $clr-primary-orange;
        padding: 30px 0 10px 0;
    }

    li {
        position: relative;
        display: inline-block;
        width: 33%;
        padding: 30px;
        color: $clr-primary-dark;
        @include transitions(0.5s);
        vertical-align: top;

        .pointer {
            width: 0;
            height: 0;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 30px solid $clr-primary-orange;
            position: absolute;
            top: -60px;
            left: 50%;
            margin-left: -30px;
            opacity: 0;
            @include transitions(0.5s);
            z-index: 3;
        }

        .more-link {
            opacity: 0;
            @include transitions(0.25s);
            cursor: default;
        }

        &.bordered {
            border-right: 6px solid #FFFFFF;
            border-left: 6px solid #FFFFFF;
        }

        &.active {
            color: #ffffff;

            .pointer {
                opacity: 1;
            }

            h3 {
                text-decoration: none;
                cursor: text;
            }

            .more-link {
                color: #ffffff;
                opacity: 1;
            }
        }
    }

    h3 {
        padding-bottom: 15px;
        font-size: 3.2rem;
        font-weight: 100;
        cursor: pointer;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .more-link {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.7rem;
        text-decoration: none;
        color: $clr-primary-dark;
        @include transitions(0.5s);
        display: inline-block;
    }
}

.our-team {
    background-color: $clr-primary-light;
    margin-top: -85px;
    padding-top: 120px;

    .team-member-images {
        position: relative;

        img {
            width: 100%;
            @include transitions(0.5s);
            z-index: 1;
        }
        
        .member-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;
            width: 100%;
            
            &.active {
                opacity: 1;
            }
        }
    }

    .member-detail {
        display: none;

        &.active {
            display: block;
        }
    }

    h2 {
        padding-top: 20px;
        text-transform: uppercase;
    }

    h3 {
        font-size: 2.5em;
        padding-bottom: 15px;
        color: $clr-primary-orange;
    }

    p {
        font-size: 1.6rem;
        line-height: 130%;
    }

    .team-angled-bottom {
        position: relative;
        margin-top: -38px;
        width: 100%;
        height: 38px;
        background: url("../images/team-skirt.png") bottom center no-repeat;
        z-index: 3;
    }

    .container {
        position: relative;

        &.team-board {
            overflow: hidden;
        }
    }

    .team-navigation {
        margin-top: -120px;

        ul {
            @extend %cleanUL;
            margin-left: -5px;
        }

        li {
            display: inline;
            padding: 0 5px;
        }

        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            @include border-radius(50%);
            @include transitions(0.5s);
            background-color: #ffffff;
            text-decoration: none;
            outline: none;

            &:hover {
                background-color: $clr-primary-grey;
            }

            &.active {
                background-color: $clr-primary-orange;
                cursor: default;
            }
        }
    }
}

.our-craft {
    padding: 60px 0 30px 0;
    background-color: #ffffff;

    .post-it {
        position: relative;
    }

    .post-it-image {
        width: 100%;
    }

    .post-detail {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 60px 60px 60px;
    }

    blockquote {
        margin: 0;
        padding: 30px;
        quotes: "\201C""\201D""\2018""\2019";
        border: none;
    }

    blockquote:before {
        color: $clr-primary-dark;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote {
        font-family: $fbBodyFont;

        p {
            display: inline;
            font-size: 2.6rem;
        }

        footer {
            padding-top: 10px;
            display: block;
            font-size: 1.6rem;
        }
    }

    @media (max-width: $width-lg){

        .post-detail {
            padding: 30px 60px 60px 50px;
        }

        blockquote {
            padding: 20px;
        }

        blockquote {

            p {
                font-size: 2.0rem;
            }

            footer {
                padding-top: 10px;
                display: block;
                font-size: 1.2rem;
            }
        }
    }


    h2 {
        text-transform: uppercase;
    }

    h3 {
        font-size: 3.0rem;
        padding-bottom: 20px;
    }
}

.find-out-more {
    background: url('../images/find-out-more-angled-top.png') top center no-repeat $clr-primary-light;
    padding: 80px 0;


    h2 {
        text-transform: uppercase;
    }

    h3 {
        font-size: 3.0rem;
        padding-bottom: 20px;
    }

    .tweet-meta {
        background: url('../images/bg-fb-twitter-icon.png') 0 0 no-repeat;
        padding-left: 65px;
        min-height: 55px;
        margin-bottom: 15px;
    }

    img {
        width: 100%;
    }

    .contact-form {

        textarea {
            resize: none;
        }

        input, textarea {
            color: #000000;
            border: 1px solid $clr-primary-light;
        }

        .error-message {
            padding: 2px 4px;
            font-size: 1.2rem;
            color: $clr-error;
            display: none;
        }

        .has-error {

            input, textarea {
                border-color: $clr-error;
            }

            .error-message {
                display: block;
            }
        }

        @media (min-width: $width-md){
            input[type=email],
            input[type=text]{
                outline: none;
                padding: 2px 4px;
                @include border-radius(0);
                height: auto;
                width: 90%;
                line-height: 100%;
            }

            textarea {
                @include border-radius(0);
                border: none;
                padding: 2px 4px;
                line-height: 100%;
            }
        }

    }
}

.trunk {
    padding-bottom: 82px;
    background: url('../images/footer-angled-top.png') bottom center no-repeat $clr-primary-light;
}

.footer {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 30px 0;
    margin-bottom: 50px;

    background: url("../images/logo-firm-belief-small.png") right center no-repeat;

    .footer-navigation {
        @extend %cleanUL;
        float: left;
    }

    li {
        float: left;
        padding: 0 15px;
        border-right: 1px solid $clr-primary-orange;

        &:nth-last-child(1){
            border: none;
        }
    }

    a {
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }
}

.shaker {
    font-size: 1.2rem;
    background: #ffffff;
    text-align: center;
    padding: 8px 0;

    a {
        background: url("../images/sugarshaker.png") 0 0 no-repeat;
        padding-left: 20px;
        display: inline-block;
        margin-left: 3px;
        color: $clr-primary-grey;

        &:hover {
            color: $clr-primary-orange;
        }

    }
}







