$width-xs:              480px;
$width-sm:              768px;
$width-md:              992px;
$width-lg:              1200px;

$clr-primary-dark:      #363636;
$clr-primary-orange:    #F48220;
$clr-primary-grey:      #9e9e95;
$clr-primary-light:     #ebebeb;
$clr-error:             #a94442;

$fbHeaderFont:          "FuturaCondensedMedium";
$fbBodyFont:            "Helvetica";

@import "mixins";
@import "fonts";
@import "overrides";

body {
    background-color: $clr-primary-dark;
    font-family: $fbBodyFont;
    font-weight: 100;
}

.not-mobile {

    body:before {
        content: "";
        position: fixed;
        top: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.9);
        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.9);
        box-shadow: 0px 0px 10px rgba(0,0,0,.9);
        z-index: 100;
    }

}

.btn {
    @include border-radius(6px);
    @include transitions(0.5s);
    background: $clr-primary-orange;
    color: #ffffff;
    padding: 3px 10px;
}

.btn-spaced {
    color: $clr-primary-orange;
    background: lighten($clr-primary-orange, 40);
}


.fb-btn {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    font-weight: 700;
    color: $clr-primary-orange;
    font-size: 1.6rem;
    font-family: $fbBodyFont;

    &:hover {
        color: $clr-primary-orange;
    }
}

.text-clr-grey {
    color: $clr-primary-grey !important;
}

strong {
    color: $clr-primary-orange;
    font-weight: 100;
}

.text-strong {
    color: #000000;
    font-weight: 100;
}

.underlined-text {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-family: $fbHeaderFont;
    font-weight: 700;
}

h2 {
    text-transform: uppercase;
}

h2 {
    font-size: 5.6rem;
    padding-bottom: 40px;
    letter-spacing: 1px;

    @media (max-width: $width-lg){
        font-size: 4.0rem;
        padding-bottom: 30px;
    }
}

h3, h4, h5, h6 {
    font-weight: 400;
    font-family: $fbBodyFont;
}

h3 {
    font-size: 3.2rem;
    padding-bottom: 20px;

    @media (max-width: $width-lg){
        font-size: 2.4rem;
        padding-bottom: 12px;
    }
}

h4 {
    padding-top: 10px;
    font-size: 2.8rem;
    padding-bottom: 20px;

    @media (max-width: $width-lg){
        font-size: 2.0rem;
        padding-bottom: 12px;
    }
}

h5 {
    font-size: 2.0rem;
    padding-bottom: 15px;
}


h6 {
    font-size: 1.8rem;
    color: $clr-primary-orange;
}

.page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

p {
    padding: 0 0 12px 0;
    margin: 0;
    line-height: 130%;
    font-size: 1.6rem;
}

a {
    color: $clr-primary-orange;
    text-decoration: none;

    &:hover {
        color: $clr-primary-orange;
        text-decoration: underline;
    }

    &:focus, &:active {
        color: $clr-primary-orange;
        text-decoration: none;
    }

    &.phone-link {
        color: $clr-primary-dark;
        cursor: text;

        &:hover {
            text-decoration: none;
        }
    }
}

.mobile {

    .phone-link {
        color: $clr-primary-orange;
        text-decoration: none;

        &:hover {
            color: $clr-primary-orange;
            text-decoration: underline;
        }
    }
}

.header {
    background-color: $clr-primary-dark;
    color: $clr-primary-grey;
    @include clearfix();

    .container {
        position: relative;
    }
}

h1 {

    a {
        display: block;
    }

    @media (max-width: $width-lg){
        img {
            height: 25px;
        }
    }
}

.nav-box {
    position: relative;
    height: 82px;

    @media (max-width: $width-sm){
        display: none;
    }
}

.contact-nav {
    @extend %cleanUL;
    margin-left: 50px;
    position: absolute;
    bottom: 0;
    left: 0;

    li {
        padding-top: 5px;
    }

    a {
        color: $clr-primary-grey;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 100;
        line-height: 90%;
        @include transitions(0.25s);

        &:hover {
            color: $clr-primary-orange;
        }

        &.tel {
            background: url("../images/icon-plus.png") left center no-repeat;
            padding-left: 20px;
        }

        &.email {
            background: url("../images/icon-bars.png") left center no-repeat;
            padding-left: 20px;
        }
    }
}

.calendar-container {
    padding: 5px 0;
    margin-bottom: 15px;
    background: url("../images/bg-calendar.png") center center no-repeat;
}

.calendar-details {
    margin-bottom: 10px;
}

.main-nav-trigger-open {
    position: absolute;
    bottom: 3px;
    right: 20px;

    @media (max-width: $width-sm) {
        bottom: 20px;
    }

    @media (max-width: $width-lg){
        right: 30px;
    }

    a {
        background: url("../images/icon-horizontal-nav-bars.png") 0 0 no-repeat;
        width: 42px;
        height: 39px;
        display: block;
        text-decoration: none;
        @include transitions(0.5s);
        outline: none;

        &:hover {
            background: url("../images/icon-horizontal-nav-bars.png") -42px 0 no-repeat;
        }
    }
}

.main-nav-trigger-close {
    text-align: right;
    margin: 40px 3px;

    @media (max-width: $width-lg){
        margin: 37px 3px;
    }

    @media (max-width: $width-sm) {
        margin: 13px 3px;
    }

    a {
        font-size: 4.7rem;
        line-height: 46px;
        color: $clr-primary-orange;
        @include transitions(0.5s);

        &:hover {
            color: #ffffff;
        }
    }
}

.main-nav-container {
    position: absolute;
    top: 0;
    width: 300px;
    min-height: 800px;
    right: -320px;
    z-index: 10;
    background-color: rgb(54, 54, 54);
    background-color: rgba(54, 54, 54, 0.95);

    &.animated {
        @include transitions(0.5s);
    }

    &.open {
        right: -15px;

        @media (max-width: $width-lg){
            right: -5px;
        }
    }

    padding: 0 30px;
}

.main-nav {
    @extend %cleanUL;
    text-align: right;
    width: 100%;

    a {
        &:hover {
            text-decoration: none;
        }
    }

    > li {
        font-size: 1.8rem;
        text-transform: uppercase;
        border-bottom: 2px dotted $clr-primary-grey;
        margin-bottom: 10px;

        &:nth-last-child(1){
            border: none;
        }

        a {
            color: #ffffff;
            font-weight: 700;
            padding:  0 0 10px 0;
            display: block;

            span {
                color: $clr-primary-grey;
            }

            &:focus {

                span {
                    color: #ffffff;
                }
            }
        }
    }

    ul {
        @extend %cleanUL;

        a {
            color: $clr-primary-orange;
            text-transform: capitalize;
            font-size: 1.8rem;

            &:focus {
                color: #ffffff;
            }
        }
    }
}

.h1-box {
    padding-top: 46px;

    @media (max-width: $width-sm){
        padding: 20px;
    }
}

.quick-intro {
    padding-top: 90px;
    padding-bottom: 20px;

    @media (max-width: $width-sm){
        display: none;
    }

    h2 {
        color: $clr-primary-grey;
        padding-bottom: 77px;
        letter-spacing: 3px;
        font-size: 4.6rem;

        @media (max-width: $width-lg){
            font-size: 3.2rem;
            letter-spacing: 2px;
        }
    }

    strong {
        text-transform: uppercase;
    }

    .intro {
        margin-left: 35px;
        font-size: 1.2em;

        @extend %cleanUL;
    }

    li {
        padding-bottom: 7px;
        line-height: 130%;
    }
}

.thick-border-right {
    border-right: 8px solid $clr-primary-grey;

    @media (max-width: $width-sm) {
        border: none;
    }
}

.hero {
    position: relative;

    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        @include transitions(0.75s);
        z-index: 1;

        &.active {
            opacity: 1;
            z-index: 2;
        }

        .tags {
            position: absolute;
            padding: 6px 10px;
            color: #ffffff;
            background: $clr-primary-dark;

            p {
                padding: 0;
                margin: 0;
            }

            // todo: decide when to make them vanish
            // depends on length of words, which you cannot predict
            // so I say do them as soon as less than max width
            @media (max-width: $width-lg) {
                display: none;
            }
        }
    }

    img {
        width: 100%;
    }

    .hero-angled-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 93px;
        background: url("../images/hero-angle.png") top center no-repeat;
        z-index: 3;

        @media (max-width: $width-sm - 1) {
            display: none;
        }
    }

    &.inner-hero {
        margin-top: 20px;
        position: relative;

        .top-border {
            position: absolute;
            background: url("../images/inner-hero-top-border.png") top center no-repeat;
            top: 0;
            left: 0;
            height: 72px;
            width: 100%;
        }

        .bottom-border {
            position: absolute;
            background: url("../images/inner-hero-bottom-border.png") bottom center no-repeat;
            bottom: 0;
            left: 0;
            height: 59px;
            width: 100%;
        }

        @media (max-width: $width-sm) {
            display: none;
        }

        .news-filter-by-proxy {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            margin-top: -46px;

            ul {
                @extend %cleanUL;
                margin: 0 25px;

                li {
                    display: inline;
                    margin: 0 10px;

                    a {
                        text-align: center;
                        display: inline-block;
                        @include transitions();
                        text-decoration: none;
                        font-weight: bold;

                        span {
                            width: 96px;
                            height: 96px;
                            @include border-radius(50%);
                            background: $clr-primary-orange;
                            display: block;
                        }

                        &:hover,
                        &:focus,
                        &:active {
                            color: #FFFFFF;
                        }

                    }

                    [data-value="general"] span {
                        background: url("../images/bg-proxy-button-general-news.png") center center no-repeat $clr-primary-orange;
                    }

                    [data-value="firm-elite"] span {
                        background: url("../images/bg-proxy-button-firm-elite.png") center center no-repeat $clr-primary-orange;
                    }

                    [data-value="legal"] span {
                        background: url("../images/bg-proxy-button-legal.png") center center no-repeat $clr-primary-orange;
                    }

                    [data-value="charities"] span {
                        background: url("../images/bg-proxy-button-charities.png") center center no-repeat $clr-primary-orange;
                    }

                    [data-value="about-us"] span {
                        background: url("../images/bg-proxy-button-about-us.png") center center no-repeat $clr-primary-orange;
                    }
                }
            }
        }
    }
}

.events {
    padding: 20px 0 0 0;

    .event {
        border-top: 1px solid #cccccc;
        padding: 20px 0 10px 0;

        h4 {
            background: url("../images/bg-calendar-event.png") 0 0 no-repeat;
            min-height: 30px;
            line-height: 30px;
            padding: 0 0 0 42px;
            margin-bottom: 12px;
        }
    }

    .event-links {

        a {
            margin-bottom: 12px;

            @media (max-width: $width-sm) {
                width: 100%;
                padding: 6px 10px;
            }

        }
    }
}

.news-filter-container {
    display: none;
    margin-bottom: 20px;

    label {
        display: block;
    }

    select {
        padding: 8px 60px 8px 12px;
        width: 100%;
        border: 1px solid $clr-primary-orange;
        outline: none;
        cursor: pointer;
        -webkit-appearance: none;
        border-radius: 0;
    }

    form {
        position: relative;

        span {
            position: absolute;
            top: 38px;
            right: 15px;
            color: $clr-primary-orange;
        }
    }

    @media (max-width: $width-sm) {
        display: block;
    }
}

.pagination-detail {
    text-align: right;

    @media (max-width: $width-sm) {
        text-align: left;
    }
}

.news-panel {

    .tag {

        @media (max-width: $width-sm) {
            display: inline-block;
            margin-bottom: 20px;
        }
    }

    .pages {
        @extend %cleanUL;
        display: inline;
        margin-left: 5px;

        @media (max-width: $width-sm) {
            display: inline-block;
            margin-bottom: 20px;
        }

        li {
            display: inline;

            &::before {
                content: " - ";
            }

            &:nth-child(1){

                &::before {
                    content: none;
                }
            }
        }

        a {
            text-decoration: none;
            font-weight: bold;
            font-size: 1.5rem;

            &.active {
                color: $clr-primary-dark;
                cursor: default;
            }
        }
    }
}

.news-item {

    .category-one {
        background: url("../uploaded/news-category-one.png") top right no-repeat;
        min-height: 40px;
    }

    .category-two {
        background: url("../uploaded/news-category-two.png") top right no-repeat;
        min-height: 40px;
    }

    .date, .category {
        font-size: 1.5rem;
        display: block;
    }

    .news-item-story {
        margin: 20px 0 30px 0;
        @extend %bordered-bottom;
    }

    .news-item-meta {
        position: relative;
        min-height: 100px;

        img {
            position: absolute;
            top: 0;
            left: 0;
        }

        .meta {
            margin-left: 90px;
        }
    }

    .full-story {

        &.open {

            .controls {

                a {
                    &.show-story {
                        display: none;
                    }

                    &.hide-story {
                        display: block;
                    }
                }

            }
        }

        .copy {
            display: none;
        }

        .controls {
            text-align: right;

            a {
                margin-bottom: 10px;

                &.show-story {
                    display: block;
                }

                &.hide-story {
                    display: none;
                }
            }
        }
    }
}

.news-divider {

    img {
        width: 100%;
        padding-bottom: 20px;
        @extend %bordered-bottom;
        margin-bottom: 30px;
    }
}

.newsletter-sign-up {

    .newsletter-form {
        padding: 15px;
        background: #363636;

        .error-message {
            color: #ffffff;
        }

        .has-error {

            input, textarea {
                border-color: $clr-error;
            }
        }
    }
}

.profile-large {
    width: 100%;

    @media (max-width: $width-sm - 1) {
        padding-bottom: 20px;
    }
}

.top-level-nav {
    padding: 0 0 83px 0;
    background: url("../images/bg-top-level-nav.png") bottom center no-repeat;
    text-align: center;

    @media (max-width: $width-sm) {
        padding: 0
    }

    ul {
        @extend %cleanUL;
        background-color: $clr-primary-orange;
        padding: 30px 0 10px 0;

        @media (max-width: $width-sm) {
            padding: 15px 0;
        }
    }

    .more-link {
        display: block;

        @media (max-width: $width-sm) {
            font-size: 1.5rem !important;
        }

    }

    li {
        position: relative;
        display: inline-block;
        width: 33%;
        padding: 30px;
        color: $clr-primary-dark;
        @include transitions(0.5s);
        vertical-align: top;

        .pointer {
            width: 0;
            height: 0;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 30px solid $clr-primary-orange;
            position: absolute;
            top: -60px;
            left: 50%;
            margin-left: -30px;
            opacity: 0;
            @include transitions(0.5s);
            z-index: 3;
        }

        .more-link {
            opacity: 0;
            @include transitions(0.25s);
            cursor: default;
        }

        &.bordered {
            border-right: 6px solid #FFFFFF;
            border-left: 6px solid #FFFFFF;

            @media (max-width: $width-sm) {
                border: none;
            }
        }

        &.active {
            color: #ffffff;

            .pointer {
                opacity: 1;
            }

            h3 {
                text-decoration: none;
                cursor: text;
            }

            .more-link {
                color: #ffffff;
                opacity: 1;
                cursor: pointer;
            }
        }

        @media (max-width: $width-md) {
            width: 30%;
            padding: 20px;
        }

        @media (max-width: $width-sm) {
            padding: 0;

            .pointer {
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid $clr-primary-orange;
                position: absolute;
                top: -34px;
                left: 50%;
                margin-left: -20px;
            }

            h3 {
                font-size: 1.6rem;
            }

            .detail {
                display: none;
            }

        }
    }

    h3 {
        font-weight: 100;
        cursor: pointer;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .more-link {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.7rem;
        text-decoration: none;
        color: $clr-primary-dark;
        @include transitions(0.5s);
        display: inline-block;
    }
}

.inner-content {
    background: #ffffff;
    padding: 30px 0;

    > ul {
        @extend %cleanUL;
        margin-bottom: 20px;
    }

    .bordered-bottom {
        @extend %bordered-bottom;
        margin-bottom: 20px;
    }

    .bordered-top {
        @extend %bordered-top;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .twitter-box {

        .tweet-img {
            padding-bottom: 20px;
            @extend %bordered-bottom;
            margin-bottom: 20px;
        }

        padding-bottom: 0;
    }
}

.our-team {
    background-color: $clr-primary-light;
    margin-top: 0;
    padding-top: 0;

    @media (min-width: $width-sm) {
        margin-top: -85px;
        padding-top: 120px;

        .team-member-images {
            position: relative;

            img {
                width: 100%;
                @include transitions(0.5s);
                z-index: 1;
            }

            .member-image {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                opacity: 0;
                width: 100%;
                height: 100%;

                &.active {
                    opacity: 1;
                }
            }
        }
    }

    @media (max-width: $width-sm - 1) {

        .team-member-images {

            img {
                width: 100%;
                display: none;

                &.active {
                    display: block;
                }
            }
        }
    }


    .member-detail {
        display: none;

        &.active {
            display: block;
        }

        @media (max-width: $width-md + 1){
            padding-top: 20px;
        }
    }

    h2 {
        padding-top: 20px;
    }

    h3 {
        color: $clr-primary-orange;
    }

    p {
        font-size: 1.6rem;
        line-height: 130%;
    }

    .team-angled-bottom {
        position: relative;
        margin-top: -38px;
        width: 100%;
        height: 38px;
        background: url("../images/team-skirt.png") bottom center no-repeat;
        z-index: 3;
    }

    .container {
        position: relative;

        &.team-board {
            overflow: hidden;
        }
    }

    .team-navigation {
        margin-top: -120px;

        @media (max-width: $width-md - 1){
            margin: 20px 0 30px 0;
        }

        ul {
            @extend %cleanUL;
            margin-left: -5px;
        }

        li {
            display: inline;
            padding: 0 5px;
        }

        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            @include border-radius(50%);
            @include transitions(0.5s);
            background-color: #ffffff;
            text-decoration: none;
            outline: none;

            &:hover {
                background-color: $clr-primary-grey;
            }

            &.active {
                background-color: $clr-primary-orange;
                cursor: default;
            }
        }

        @media (max-width: $width-lg){

            li {
                display: inline;
                padding: 0 10px;
            }

            a {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.our-craft {
    padding: 60px 0 30px 0;
    background-color: #ffffff;

    @media (max-width: $width-md + 1){
        padding-top: 30px;
    }

    .post-it {
        position: relative;
    }

    .post-it-image {
        width: 100%;
    }

    .post-detail {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 60px 60px 60px;
    }

    blockquote {
        margin: 0;
        padding: 30px;
        quotes: "\201C""\201D""\2018""\2019";
        border: none;
    }

    blockquote:before {
        color: $clr-primary-dark;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote {
        font-family: $fbBodyFont;

        p {
            display: inline;
            font-size: 2.6rem;
        }

        footer {
            padding-top: 10px;
            display: block;
            font-size: 1.6rem;
        }
    }

    @media (max-width: $width-lg){

        .post-detail {
            padding: 30px 60px 60px 50px;
        }

        blockquote {
            padding: 20px;
        }

        blockquote {

            p {
                font-size: 2.0rem;
            }

            footer {
                padding-top: 10px;
                display: block;
                font-size: 1.2rem;
            }
        }
    }
}

.find-out-more {
    background: url('../images/find-out-more-angled-top.png') top center no-repeat $clr-primary-light;
    padding: 80px 0;

    @media (max-width: $width-md - 1){
        padding-bottom: 20px;
        padding-top: 60px;
    }
}

.twitter-box {

    .tweet-meta {
        background: url('../images/bg-fb-twitter-icon.png') 0 0 no-repeat;
        padding-left: 65px;
        min-height: 55px;
        margin-bottom: 15px;
    }

    .tweet-img {
        width: 100%;
    }

    padding-bottom: 30px;
}

.trunk {
    padding-bottom: 82px;
    background: url('../images/footer-angled-top.png') bottom center no-repeat #ffffff;
}

.home {
    .trunk {
        padding-bottom: 82px;
        background: url('../images/footer-angled-top.png') bottom center no-repeat $clr-primary-light;
    }
}

.footer {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 30px 0;
    margin-bottom: 50px;
    background: url("../images/logo-firm-belief-small.png") right center no-repeat;

    .footer-navigation {
        @extend %cleanUL;
        margin-left: -15px;
    }

    li {
        display: inline-block;
        padding: 0 15px;
        border-right: 1px solid $clr-primary-orange;

        &:nth-last-child(1){
            border: none;
        }

    }

    a {
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: $width-sm){
        text-align: center;
        background: none;
        margin-bottom: 20px;

        .footer-navigation {
            margin-left: 0;

            li {
                padding: 0 10px;
            }
        }
    }
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    @include transitions(0.25s);

    a {
        font-size: 4.0rem;
        padding: 10px;
        color: $clr-primary-orange;
    }

    &.opaque {
        opacity: 1;
    }

    @media (max-width: $width-sm){
        right: 15px;

        a {
            font-size: 3.0rem;
        }
    }
}

.shaker {
    font-size: 1.2rem;
    background: #ffffff;
    text-align: center;
    padding: 8px 0;

    a {
        background: url("../images/sugarshaker.png") 0 0 no-repeat;
        padding-left: 20px;
        display: inline-block;
        margin-left: 3px;
        color: $clr-primary-grey;

        &:hover {
            color: $clr-primary-orange;
        }
    }
}







