@charset "UTF-8";
.contact-nav, .main-nav, .main-nav ul, .quick-intro .intro, .hero.inner-hero .news-filter-by-proxy ul, .news-panel .pages, .top-level-nav ul, .inner-content > ul, .our-team .team-navigation ul, .footer .footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none; }

.news-item .news-item-story, .news-divider img, .inner-content .bordered-bottom, .inner-content .twitter-box .tweet-img {
  border-bottom: 1px dotted #9e9e95; }

.inner-content .bordered-top {
  border-top: 1px dotted #9e9e95; }

@font-face {
  font-family: 'FuturaCondensedMedium';
  src: url("fonts/futura_condensed_medium-webfont.woff2") format("woff2"), url("fonts/futura_condensed_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica';
  src: url("Helvetica.eot?#iefix") format("embedded-opentype"), url("fonts/Helvetica.otf") format("opentype"), url("fonts/Helvetica.woff") format("woff"), url("fonts/Helvetica.ttf") format("truetype"), url("fonts/Helvetica.svg#Helvetica") format("svg");
  font-weight: normal;
  font-style: normal; }

.container {
  padding-left: 20px;
  padding-right: 20px; }

.row {
  margin-right: -20px;
  margin-left: -20px; }

.row > [class*='col-'] {
  padding-right: 20px;
  padding-left: 20px; }

.form-control:focus, input {
  box-shadow: none !important;
  outline: none !important; }

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 30px; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none; } }

@media (min-width: 993px) {
  .hidden-md-up {
    display: none; } }

.page form textarea {
  resize: none; }

.page form input, .page form textarea {
  color: #000000;
  border: 1px solid #ebebeb; }

.page form .error-message {
  padding: 2px 4px;
  font-size: 1.2rem;
  color: #a94442;
  display: none; }

.page form .has-error input, .page form .has-error textarea {
  border-color: #a94442; }

.page form .has-error .error-message {
  display: block; }

@media (min-width: 992px) {
  .page form input[type=email],
  .page form input[type=text] {
    outline: none;
    padding: 2px 4px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: auto;
    width: 90%;
    line-height: 100%; }
  .page form textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 2px 4px;
    line-height: 100%; } }

body {
  background-color: #363636;
  font-family: "Helvetica";
  font-weight: 100; }

.not-mobile body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  z-index: 100; }

.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #F48220;
  color: #ffffff;
  padding: 3px 10px; }

.btn-spaced {
  color: #F48220;
  background: #feefe2; }

.fb-btn {
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  font-weight: 700;
  color: #F48220;
  font-size: 1.6rem;
  font-family: "Helvetica"; }
  .fb-btn:hover {
    color: #F48220; }

.text-clr-grey {
  color: #9e9e95 !important; }

strong {
  color: #F48220;
  font-weight: 100; }

.text-strong {
  color: #000000;
  font-weight: 100; }

.underlined-text {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-family: "FuturaCondensedMedium";
  font-weight: 700; }

h2 {
  text-transform: uppercase; }

h2 {
  font-size: 5.6rem;
  padding-bottom: 40px;
  letter-spacing: 1px; }
  @media (max-width: 1200px) {
    h2 {
      font-size: 4.0rem;
      padding-bottom: 30px; } }

h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Helvetica"; }

h3 {
  font-size: 3.2rem;
  padding-bottom: 20px; }
  @media (max-width: 1200px) {
    h3 {
      font-size: 2.4rem;
      padding-bottom: 12px; } }

h4 {
  padding-top: 10px;
  font-size: 2.8rem;
  padding-bottom: 20px; }
  @media (max-width: 1200px) {
    h4 {
      font-size: 2.0rem;
      padding-bottom: 12px; } }

h5 {
  font-size: 2.0rem;
  padding-bottom: 15px; }

h6 {
  font-size: 1.8rem;
  color: #F48220; }

.page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

p {
  padding: 0 0 12px 0;
  margin: 0;
  line-height: 130%;
  font-size: 1.6rem; }

a {
  color: #F48220;
  text-decoration: none; }
  a:hover {
    color: #F48220;
    text-decoration: underline; }
  a.phone-link {
    color: #363636;
    cursor: text; }
    a.phone-link:hover {
      text-decoration: none; }

.mobile .phone-link {
  color: #F48220;
  text-decoration: none; }
  .mobile .phone-link:hover {
    color: #F48220;
    text-decoration: underline; }

.header {
  background-color: #363636;
  color: #9e9e95;
  content: "";
  clear: both;
  display: block; }
  .header .container {
    position: relative; }

h1 a {
  display: block; }

@media (max-width: 1200px) {
  h1 img {
    height: 25px; } }

.nav-box {
  position: relative;
  height: 82px; }
  @media (max-width: 768px) {
    .nav-box {
      display: none; } }

.contact-nav {
  margin-left: 50px;
  position: absolute;
  bottom: 0;
  left: 0; }
  .contact-nav li {
    padding-top: 5px; }
  .contact-nav a {
    color: #9e9e95;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 90%;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }
    .contact-nav a:hover {
      color: #F48220; }
    .contact-nav a.tel {
      background: url("../images/icon-plus.png") left center no-repeat;
      padding-left: 20px; }
    .contact-nav a.email {
      background: url("../images/icon-bars.png") left center no-repeat;
      padding-left: 20px; }

.calendar-container {
  padding: 5px 0;
  margin-bottom: 15px;
  background: url("../images/bg-calendar.png") center center no-repeat; }

.calendar-details {
  margin-bottom: 10px; }

.main-nav-trigger-open {
  position: absolute;
  bottom: 3px;
  right: 20px; }
  @media (max-width: 768px) {
    .main-nav-trigger-open {
      bottom: 20px; } }
  @media (max-width: 1200px) {
    .main-nav-trigger-open {
      right: 30px; } }
  .main-nav-trigger-open a {
    background: url("../images/icon-horizontal-nav-bars.png") 0 0 no-repeat;
    width: 42px;
    height: 39px;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    outline: none; }
    .main-nav-trigger-open a:hover {
      background: url("../images/icon-horizontal-nav-bars.png") -42px 0 no-repeat; }

.main-nav-trigger-close {
  text-align: right;
  margin: 40px 3px; }
  @media (max-width: 1200px) {
    .main-nav-trigger-close {
      margin: 37px 3px; } }
  @media (max-width: 768px) {
    .main-nav-trigger-close {
      margin: 13px 3px; } }
  .main-nav-trigger-close a {
    font-size: 4.7rem;
    line-height: 46px;
    color: #F48220;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .main-nav-trigger-close a:hover {
      color: #ffffff; }

.main-nav-container {
  position: absolute;
  top: 0;
  width: 300px;
  min-height: 800px;
  right: -320px;
  z-index: 10;
  background-color: #363636;
  background-color: rgba(54, 54, 54, 0.95);
  padding: 0 30px; }
  .main-nav-container.animated {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .main-nav-container.open {
    right: -15px; }
    @media (max-width: 1200px) {
      .main-nav-container.open {
        right: -5px; } }

.main-nav {
  text-align: right;
  width: 100%; }
  .main-nav a:hover {
    text-decoration: none; }
  .main-nav > li {
    font-size: 1.8rem;
    text-transform: uppercase;
    border-bottom: 2px dotted #9e9e95;
    margin-bottom: 10px; }
    .main-nav > li:nth-last-child(1) {
      border: none; }
    .main-nav > li a {
      color: #ffffff;
      font-weight: 700;
      padding: 0 0 10px 0;
      display: block; }
      .main-nav > li a span {
        color: #9e9e95; }
      .main-nav > li a:focus span {
        color: #ffffff; }
  .main-nav ul a {
    color: #F48220;
    text-transform: capitalize;
    font-size: 1.8rem; }
    .main-nav ul a:focus {
      color: #ffffff; }

.h1-box {
  padding-top: 46px; }
  @media (max-width: 768px) {
    .h1-box {
      padding: 20px; } }

.quick-intro {
  padding-top: 90px;
  padding-bottom: 20px; }
  @media (max-width: 768px) {
    .quick-intro {
      display: none; } }
  .quick-intro h2 {
    color: #9e9e95;
    padding-bottom: 77px;
    letter-spacing: 3px;
    font-size: 4.6rem; }
    @media (max-width: 1200px) {
      .quick-intro h2 {
        font-size: 3.2rem;
        letter-spacing: 2px; } }
  .quick-intro strong {
    text-transform: uppercase; }
  .quick-intro .intro {
    margin-left: 35px;
    font-size: 1.2em; }
  .quick-intro li {
    padding-bottom: 7px;
    line-height: 130%; }

.thick-border-right {
  border-right: 8px solid #9e9e95; }
  @media (max-width: 768px) {
    .thick-border-right {
      border: none; } }

.hero {
  position: relative; }
  .hero .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
    z-index: 1; }
    .hero .hero-image.active {
      opacity: 1;
      z-index: 2; }
  .hero img {
    width: 100%; }
  .hero .hero-angled-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93px;
    background: url("../images/hero-angle.png") top center no-repeat;
    z-index: 3; }
    @media (max-width: 767px) {
      .hero .hero-angled-top {
        display: none; } }
  .hero.inner-hero {
    margin-top: 20px;
    position: relative; }
    .hero.inner-hero .top-border {
      position: absolute;
      background: url("../images/inner-hero-top-border.png") top center no-repeat;
      top: 0;
      left: 0;
      height: 72px;
      width: 100%; }
    .hero.inner-hero .bottom-border {
      position: absolute;
      background: url("../images/inner-hero-bottom-border.png") bottom center no-repeat;
      bottom: 0;
      left: 0;
      height: 59px;
      width: 100%; }
    @media (max-width: 768px) {
      .hero.inner-hero {
        display: none; } }
    .hero.inner-hero .news-filter-by-proxy {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: -46px; }
      .hero.inner-hero .news-filter-by-proxy ul {
        margin: 0 25px; }
        .hero.inner-hero .news-filter-by-proxy ul li {
          display: inline;
          margin: 0 10px; }
          .hero.inner-hero .news-filter-by-proxy ul li a {
            text-align: center;
            display: inline-block;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            text-decoration: none;
            font-weight: bold; }
            .hero.inner-hero .news-filter-by-proxy ul li a span {
              width: 96px;
              height: 96px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              background: #F48220;
              display: block; }
            .hero.inner-hero .news-filter-by-proxy ul li a:hover, .hero.inner-hero .news-filter-by-proxy ul li a:focus, .hero.inner-hero .news-filter-by-proxy ul li a:active {
              color: #FFFFFF; }
          .hero.inner-hero .news-filter-by-proxy ul li [data-value="general"] span {
            background: url("../images/bg-proxy-button-general-news.png") center center no-repeat #F48220; }
          .hero.inner-hero .news-filter-by-proxy ul li [data-value="firm-elite"] span {
            background: url("../images/bg-proxy-button-firm-elite.png") center center no-repeat #F48220; }
          .hero.inner-hero .news-filter-by-proxy ul li [data-value="legal"] span {
            background: url("../images/bg-proxy-button-legal.png") center center no-repeat #F48220; }
          .hero.inner-hero .news-filter-by-proxy ul li [data-value="charities"] span {
            background: url("../images/bg-proxy-button-charities.png") center center no-repeat #F48220; }
          .hero.inner-hero .news-filter-by-proxy ul li [data-value="about-us"] span {
            background: url("../images/bg-proxy-button-about-us.png") center center no-repeat #F48220; }

.events {
  padding: 20px 0 0 0; }
  .events .event {
    border-top: 1px solid #cccccc;
    padding: 20px 0 10px 0; }
    .events .event h4 {
      background: url("../images/bg-calendar-event.png") 0 0 no-repeat;
      min-height: 30px;
      line-height: 30px;
      padding: 0 0 0 42px;
      margin-bottom: 12px; }
  .events .event-links a {
    margin-bottom: 12px; }
    @media (max-width: 768px) {
      .events .event-links a {
        width: 100%;
        padding: 6px 10px; } }

.news-filter-container {
  display: none;
  margin-bottom: 20px; }
  .news-filter-container label {
    display: block; }
  .news-filter-container select {
    padding: 8px 60px 8px 12px;
    width: 100%;
    border: 1px solid #F48220;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0; }
  .news-filter-container form {
    position: relative; }
    .news-filter-container form span {
      position: absolute;
      top: 38px;
      right: 15px;
      color: #F48220; }
  @media (max-width: 768px) {
    .news-filter-container {
      display: block; } }

.pagination-detail {
  text-align: right; }
  @media (max-width: 768px) {
    .pagination-detail {
      text-align: left; } }

@media (max-width: 768px) {
  .news-panel .tag {
    display: inline-block;
    margin-bottom: 20px; } }

.news-panel .pages {
  display: inline;
  margin-left: 5px; }
  @media (max-width: 768px) {
    .news-panel .pages {
      display: inline-block;
      margin-bottom: 20px; } }
  .news-panel .pages li {
    display: inline; }
    .news-panel .pages li::before {
      content: " - "; }
    .news-panel .pages li:nth-child(1)::before {
      content: none; }
  .news-panel .pages a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem; }
    .news-panel .pages a.active {
      color: #363636;
      cursor: default; }

.news-item .category-one {
  background: url("../uploaded/news-category-one.png") top right no-repeat;
  min-height: 40px; }

.news-item .category-two {
  background: url("../uploaded/news-category-two.png") top right no-repeat;
  min-height: 40px; }

.news-item .date, .news-item .category {
  font-size: 1.5rem;
  display: block; }

.news-item .news-item-story {
  margin: 20px 0 30px 0; }

.news-item .news-item-meta {
  position: relative;
  min-height: 100px; }
  .news-item .news-item-meta img {
    position: absolute;
    top: 0;
    left: 0; }
  .news-item .news-item-meta .meta {
    margin-left: 90px; }

.news-item .full-story.open .controls a.show-story {
  display: none; }

.news-item .full-story.open .controls a.hide-story {
  display: block; }

.news-item .full-story .copy {
  display: none; }

.news-item .full-story .controls {
  text-align: right; }
  .news-item .full-story .controls a {
    margin-bottom: 10px; }
    .news-item .full-story .controls a.show-story {
      display: block; }
    .news-item .full-story .controls a.hide-story {
      display: none; }

.news-divider img {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 30px; }

.newsletter-sign-up .newsletter-form {
  padding: 15px;
  background: #363636; }
  .newsletter-sign-up .newsletter-form .error-message {
    color: #ffffff; }
  .newsletter-sign-up .newsletter-form .has-error input, .newsletter-sign-up .newsletter-form .has-error textarea {
    border-color: #F48220; }

.profile-large {
  width: 100%; }
  @media (max-width: 767px) {
    .profile-large {
      padding-bottom: 20px; } }

.top-level-nav {
  padding: 0 0 83px 0;
  background: url("../images/bg-top-level-nav.png") bottom center no-repeat;
  text-align: center; }
  @media (max-width: 768px) {
    .top-level-nav {
      padding: 0; } }
  .top-level-nav ul {
    background-color: #F48220;
    padding: 30px 0 10px 0; }
    @media (max-width: 768px) {
      .top-level-nav ul {
        padding: 15px 0; } }
  .top-level-nav .more-link {
    display: block; }
    @media (max-width: 768px) {
      .top-level-nav .more-link {
        font-size: 1.5rem !important; } }
  .top-level-nav li {
    position: relative;
    display: inline-block;
    width: 33%;
    padding: 30px;
    color: #363636;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    vertical-align: top; }
    .top-level-nav li .pointer {
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 30px solid #F48220;
      position: absolute;
      top: -60px;
      left: 50%;
      margin-left: -30px;
      opacity: 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      z-index: 3; }
    .top-level-nav li .more-link {
      opacity: 0;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      cursor: default; }
    .top-level-nav li.bordered {
      border-right: 6px solid #FFFFFF;
      border-left: 6px solid #FFFFFF; }
      @media (max-width: 768px) {
        .top-level-nav li.bordered {
          border: none; } }
    .top-level-nav li.active {
      color: #ffffff; }
      .top-level-nav li.active .pointer {
        opacity: 1; }
      .top-level-nav li.active h3 {
        text-decoration: none;
        cursor: text; }
      .top-level-nav li.active .more-link {
        color: #ffffff;
        opacity: 1;
        cursor: pointer; }
    @media (max-width: 992px) {
      .top-level-nav li {
        width: 30%;
        padding: 20px; } }
    @media (max-width: 768px) {
      .top-level-nav li {
        padding: 0; }
        .top-level-nav li .pointer {
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid #F48220;
          position: absolute;
          top: -34px;
          left: 50%;
          margin-left: -20px; }
        .top-level-nav li h3 {
          font-size: 1.6rem; }
        .top-level-nav li .detail {
          display: none; } }
  .top-level-nav h3 {
    font-weight: 100;
    cursor: pointer;
    text-decoration: underline; }
    .top-level-nav h3:hover {
      text-decoration: none; }
  .top-level-nav .more-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
    text-decoration: none;
    color: #363636;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block; }

.inner-content {
  background: #ffffff;
  padding: 30px 0; }
  .inner-content > ul {
    margin-bottom: 20px; }
  .inner-content .bordered-bottom {
    margin-bottom: 20px; }
  .inner-content .bordered-top {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 20px; }
  .inner-content .twitter-box {
    padding-bottom: 0; }
    .inner-content .twitter-box .tweet-img {
      padding-bottom: 20px;
      margin-bottom: 20px; }

.our-team {
  background-color: #ebebeb;
  margin-top: 0;
  padding-top: 0; }
  @media (min-width: 768px) {
    .our-team {
      margin-top: -85px;
      padding-top: 120px; }
      .our-team .team-member-images {
        position: relative; }
        .our-team .team-member-images img {
          width: 100%;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          z-index: 1; }
        .our-team .team-member-images .member-image {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          opacity: 0;
          width: 100%;
          height: 100%; }
          .our-team .team-member-images .member-image.active {
            opacity: 1; } }
  @media (max-width: 767px) {
    .our-team .team-member-images img {
      width: 100%;
      display: none; }
      .our-team .team-member-images img.active {
        display: block; } }
  .our-team .member-detail {
    display: none; }
    .our-team .member-detail.active {
      display: block; }
    @media (max-width: 993px) {
      .our-team .member-detail {
        padding-top: 20px; } }
  .our-team h2 {
    padding-top: 20px; }
  .our-team h3 {
    color: #F48220; }
  .our-team p {
    font-size: 1.6rem;
    line-height: 130%; }
  .our-team .team-angled-bottom {
    position: relative;
    margin-top: -38px;
    width: 100%;
    height: 38px;
    background: url("../images/team-skirt.png") bottom center no-repeat;
    z-index: 3; }
  .our-team .container {
    position: relative; }
    .our-team .container.team-board {
      overflow: hidden; }
  .our-team .team-navigation {
    margin-top: -120px; }
    @media (max-width: 991px) {
      .our-team .team-navigation {
        margin: 20px 0 30px 0; } }
    .our-team .team-navigation ul {
      margin-left: -5px; }
    .our-team .team-navigation li {
      display: inline;
      padding: 0 5px; }
    .our-team .team-navigation a {
      display: inline-block;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      background-color: #ffffff;
      text-decoration: none;
      outline: none; }
      .our-team .team-navigation a:hover {
        background-color: #9e9e95; }
      .our-team .team-navigation a.active {
        background-color: #F48220;
        cursor: default; }
    @media (max-width: 1200px) {
      .our-team .team-navigation li {
        display: inline;
        padding: 0 10px; }
      .our-team .team-navigation a {
        width: 20px;
        height: 20px; } }

.our-craft {
  padding: 60px 0 30px 0;
  background-color: #ffffff; }
  @media (max-width: 993px) {
    .our-craft {
      padding-top: 30px; } }
  .our-craft .post-it {
    position: relative; }
  .our-craft .post-it-image {
    width: 100%; }
  .our-craft .post-detail {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 60px 60px 60px; }
  .our-craft blockquote {
    margin: 0;
    padding: 30px;
    quotes: "“" "”" "‘" "’";
    border: none; }
  .our-craft blockquote:before {
    color: #363636;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  .our-craft blockquote {
    font-family: "Helvetica"; }
    .our-craft blockquote p {
      display: inline;
      font-size: 2.6rem; }
    .our-craft blockquote footer {
      padding-top: 10px;
      display: block;
      font-size: 1.6rem; }
  @media (max-width: 1200px) {
    .our-craft .post-detail {
      padding: 30px 60px 60px 50px; }
    .our-craft blockquote {
      padding: 20px; }
    .our-craft blockquote p {
      font-size: 2.0rem; }
    .our-craft blockquote footer {
      padding-top: 10px;
      display: block;
      font-size: 1.2rem; } }

.find-out-more {
  background: url("../images/find-out-more-angled-top.png") top center no-repeat #ebebeb;
  padding: 80px 0; }
  @media (max-width: 991px) {
    .find-out-more {
      padding-bottom: 20px;
      padding-top: 60px; } }

.twitter-box {
  padding-bottom: 30px; }
  .twitter-box .tweet-meta {
    background: url("../images/bg-fb-twitter-icon.png") 0 0 no-repeat;
    padding-left: 65px;
    min-height: 55px;
    margin-bottom: 15px; }
  .twitter-box .tweet-img {
    width: 100%; }

.trunk {
  padding-bottom: 82px;
  background: url("../images/footer-angled-top.png") bottom center no-repeat #ffffff; }

.home .trunk {
  padding-bottom: 82px;
  background: url("../images/footer-angled-top.png") bottom center no-repeat #ebebeb; }

.footer {
  font-size: 1.2rem;
  line-height: 100%;
  padding: 30px 0;
  margin-bottom: 50px;
  background: url("../images/logo-firm-belief-small.png") right center no-repeat; }
  .footer .footer-navigation {
    margin-left: -15px; }
  .footer li {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #F48220; }
    .footer li:nth-last-child(1) {
      border: none; }
  .footer a {
    display: block; }
    .footer a:hover {
      text-decoration: underline; }
  @media (max-width: 768px) {
    .footer {
      text-align: center;
      background: none;
      margin-bottom: 20px; }
      .footer .footer-navigation {
        margin-left: 0; }
        .footer .footer-navigation li {
          padding: 0 10px; } }

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: 0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }
  .back-to-top a {
    font-size: 4.0rem;
    padding: 10px;
    color: #F48220; }
  .back-to-top.opaque {
    opacity: 1; }
  @media (max-width: 768px) {
    .back-to-top {
      right: 15px; }
      .back-to-top a {
        font-size: 3.0rem; } }

.shaker {
  font-size: 1.2rem;
  background: #ffffff;
  text-align: center;
  padding: 8px 0; }
  .shaker a {
    background: url("../images/sugarshaker.png") 0 0 no-repeat;
    padding-left: 20px;
    display: inline-block;
    margin-left: 3px;
    color: #9e9e95; }
    .shaker a:hover {
      color: #F48220; }
