@charset "UTF-8";
.row {
  margin-right: -20px;
  margin-left: -20px; }

.row > [class*='col-'] {
  padding-right: 20px;
  padding-left: 20px; }

.form-control:focus, input {
  box-shadow: none !important;
  outline: none !important; }

.contact-nav, .main-nav-container .main-nav, .quick-intro .intro, .top-level-nav ul, .our-team .team-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none; }

@font-face {
  font-family: 'FuturaCondensedMedium';
  src: url("fonts/futura_condensed_medium-webfont.woff2") format("woff2"), url("fonts/futura_condensed_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica';
  src: url("Helvetica.eot?#iefix") format("embedded-opentype"), url("fonts/Helvetica.otf") format("opentype"), url("fonts/Helvetica.woff") format("woff"), url("fonts/Helvetica.ttf") format("truetype"), url("fonts/Helvetica.svg#Helvetica") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #363636;
  font-family: "Helvetica";
  font-weight: 100; }

body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 100; }

.text-clr-grey {
  color: #9e9e95 !important; }

strong {
  color: #F48220; }

.text-strong {
  color: #000000;
  font-weight: 100; }

.underlined-text {
  text-decoration: underline; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-family: "FuturaCondensedMedium";
  font-weight: 700; }

h2 {
  font-size: 4.6rem;
  padding-bottom: 40px;
  letter-spacing: 3px; }

h3, h4, h5 {
  font-weight: 100;
  font-family: "Helvetica"; }

.page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

p {
  padding: 0 0 12px 0;
  margin: 0;
  line-height: 130%;
  font-size: 1.6rem; }

a {
  color: #F48220;
  text-decoration: none; }
  a:hover {
    color: #F48220;
    text-decoration: underline; }

@media (max-width: 1200px) {
  .container {
    width: 100%; } }

.header {
  background-color: #363636;
  color: #9e9e95;
  content: "";
  clear: both;
  display: block; }
  .header .container {
    position: relative; }

h1 {
  background: url("../images/logo-firm-beliefs.png") 0 0 no-repeat;
  text-indent: -9000px;
  width: 268px;
  height: 36px;
  background-size: cover; }
  h1 a {
    display: block; }

.nav-box {
  position: relative;
  height: 82px; }

.contact-nav {
  margin-left: 50px;
  position: absolute;
  bottom: 0;
  left: 0; }
  .contact-nav li {
    padding-top: 5px; }
  .contact-nav a {
    color: #9e9e95;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 90%;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }
    .contact-nav a:hover {
      color: #F48220; }
    .contact-nav a.tel {
      background: url("../images/icon-plus.png") left center no-repeat;
      padding-left: 20px; }
    .contact-nav a.email {
      background: url("../images/icon-bars.png") left center no-repeat;
      padding-left: 20px; }

.main-nav-trigger {
  position: absolute;
  bottom: 3px;
  right: 15px; }
  .main-nav-trigger a {
    background: url("../images/icon-horizontal-nav-bars.png") 0 0 no-repeat;
    width: 42px;
    height: 39px;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    outline: none; }
    .main-nav-trigger a:hover {
      background: url("../images/icon-horizontal-nav-bars.png") -42px 0 no-repeat; }

.main-nav-container {
  position: absolute;
  top: 0;
  width: 310px;
  height: 600px;
  right: -325px;
  z-index: 10;
  background-color: #363636;
  background-color: rgba(54, 54, 54, 0.8); }
  @media (max-width: 1200px) {
    .main-nav-container {
      right: -310px; } }
  .main-nav-container.animated {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .main-nav-container.open {
    right: -15px; }
    @media (max-width: 1200px) {
      .main-nav-container.open {
        right: 0; } }

.h1-box {
  padding-top: 46px; }

.quick-intro {
  padding-top: 90px;
  padding-bottom: 20px;
  float: left;
  width: 100%; }
  .quick-intro h2 {
    text-transform: uppercase;
    color: #9e9e95; }
  .quick-intro strong {
    text-transform: uppercase; }
  .quick-intro .intro {
    margin-left: 35px;
    font-size: 1.2em; }
  .quick-intro li {
    padding-bottom: 7px;
    line-height: 130%; }

.thick-border-right {
  border-right: 8px solid #9e9e95; }

.hero {
  position: relative; }
  .hero .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
    z-index: 1; }
    .hero .hero-image.active {
      opacity: 1;
      z-index: 2; }
  .hero img {
    width: 100%; }
  .hero .hero-angled-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93px;
    background: url("../images/hero-angle.png") top center no-repeat;
    z-index: 3; }

.top-level-nav {
  padding: 0 0 83px 0;
  background: url("../images/bg-top-level-nav.png") bottom center no-repeat;
  text-align: center; }
  .top-level-nav .more-link {
    display: block; }
  .top-level-nav ul {
    background-color: #F48220;
    padding: 30px 0 10px 0; }
  .top-level-nav li {
    position: relative;
    display: inline-block;
    width: 33%;
    padding: 30px;
    color: #363636;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    vertical-align: top; }
    .top-level-nav li .pointer {
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 30px solid #F48220;
      position: absolute;
      top: -60px;
      left: 50%;
      margin-left: -30px;
      opacity: 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      z-index: 3; }
    .top-level-nav li .more-link {
      opacity: 0;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s;
      cursor: default; }
    .top-level-nav li.bordered {
      border-right: 6px solid #FFFFFF;
      border-left: 6px solid #FFFFFF; }
    .top-level-nav li.active {
      color: #ffffff; }
      .top-level-nav li.active .pointer {
        opacity: 1; }
      .top-level-nav li.active h3 {
        text-decoration: none;
        cursor: text; }
      .top-level-nav li.active .more-link {
        color: #ffffff;
        opacity: 1; }
  .top-level-nav h3 {
    padding-bottom: 15px;
    font-size: 3.2rem;
    font-weight: 100;
    cursor: pointer;
    text-decoration: underline; }
    .top-level-nav h3:hover {
      text-decoration: none; }
  .top-level-nav .more-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
    text-decoration: none;
    color: #363636;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block; }

.our-team {
  background-color: #ebebeb;
  margin-top: -85px;
  padding-top: 120px; }
  .our-team .team-member-images {
    position: relative; }
    .our-team .team-member-images img {
      width: 100%;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      z-index: 1; }
    .our-team .team-member-images .member-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
      width: 100%; }
      .our-team .team-member-images .member-image.active {
        opacity: 1; }
  .our-team .member-detail {
    display: none; }
    .our-team .member-detail.active {
      display: block; }
  .our-team h2 {
    padding-top: 20px;
    text-transform: uppercase; }
  .our-team h3 {
    font-size: 2.5em;
    padding-bottom: 15px;
    color: #F48220; }
  .our-team p {
    font-size: 1.6rem;
    line-height: 130%; }
  .our-team .team-angled-bottom {
    position: relative;
    margin-top: -38px;
    width: 100%;
    height: 38px;
    background: url("../images/team-skirt.png") bottom center no-repeat;
    z-index: 3; }
  .our-team .container {
    position: relative; }
    .our-team .container.team-board {
      overflow: hidden; }
  .our-team .team-navigation {
    margin-top: -120px; }
    .our-team .team-navigation ul {
      margin-left: -5px; }
    .our-team .team-navigation li {
      display: inline;
      padding: 0 5px; }
    .our-team .team-navigation a {
      display: inline-block;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      background-color: #ffffff;
      text-decoration: none;
      outline: none; }
      .our-team .team-navigation a:hover {
        background-color: #9e9e95; }
      .our-team .team-navigation a.active {
        background-color: #F48220;
        cursor: default; }

.our-craft {
  padding: 60px 0 30px 0;
  background-color: #ffffff; }
  .our-craft .post-it {
    position: relative; }
  .our-craft .post-it-image {
    width: 100%; }
  .our-craft .post-detail {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 60px 60px 60px; }
  .our-craft blockquote {
    margin: 0;
    padding: 30px;
    quotes: "“" "”" "‘" "’";
    border: none; }
  .our-craft blockquote:before {
    color: #363636;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  .our-craft blockquote {
    font-family: "Helvetica"; }
    .our-craft blockquote p {
      display: inline;
      font-size: 2.6rem; }
    .our-craft blockquote footer {
      padding-top: 10px;
      display: block;
      font-size: 1.6rem; }
  @media (max-width: 1200px) {
    .our-craft .post-detail {
      padding: 30px 60px 60px 50px; }
    .our-craft blockquote {
      padding: 20px; }
    .our-craft blockquote p {
      font-size: 2.0rem; }
    .our-craft blockquote footer {
      padding-top: 10px;
      display: block;
      font-size: 1.2rem; } }
  .our-craft h2 {
    text-transform: uppercase; }
  .our-craft h3 {
    font-size: 3.0rem;
    padding-bottom: 20px; }

.find-out-more {
  background: url("../images/find-out-more-angled-top.png") top center no-repeat #ebebeb;
  padding: 80px 0; }
  .find-out-more h2 {
    text-transform: uppercase; }
  .find-out-more h3 {
    font-size: 3.0rem;
    padding-bottom: 20px; }
  .find-out-more .tweet-meta {
    background: url("../images/bg-fb-twitter-icon.png") 0 0 no-repeat;
    padding-left: 65px;
    min-height: 55px;
    margin-bottom: 15px; }
  .find-out-more img {
    width: 100%; }
  .find-out-more .contact-form textarea {
    resize: none; }
  .find-out-more .contact-form input, .find-out-more .contact-form textarea {
    color: #000000;
    border: 1px solid #ebebeb; }
  .find-out-more .contact-form .error-message {
    padding: 2px 4px;
    font-size: 1.2rem;
    color: #a94442;
    display: none; }
  .find-out-more .contact-form .has-error input, .find-out-more .contact-form .has-error textarea {
    border-color: #a94442; }
  .find-out-more .contact-form .has-error .error-message {
    display: block; }
  @media (min-width: 992px) {
    .find-out-more .contact-form input[type=email],
    .find-out-more .contact-form input[type=text] {
      outline: none;
      padding: 2px 4px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      height: auto;
      width: 90%;
      line-height: 100%; }
    .find-out-more .contact-form textarea {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: none;
      padding: 2px 4px;
      line-height: 100%; } }

.body {
  padding-bottom: 82px;
  background: url("../images/footer-angled-top.png") bottom center no-repeat #ebebeb; }

.footer {
  height: 100px; }
